/*.logo{
    display: flex;
    align-items:center ;
    justify-content: space-between;  
    top: 0;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    
}*/

.simelador{
    display: flex;
    height: 180px;
    width:90%;
    margin-inline: auto;
    
    align-items: center;
    justify-content:center; 
    border-bottom: 1px solid silver;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 29px;
   
}


.mor{
    margin-top: 30px;  
}
.pete{
    background-color: #a3e6b6;
    position: absolute;
    height: 84px;
    left:80px;
    top: 220px;
    color: black;
    border-radius: 5px;
  
}

.lado{
  margin-left: auto;  
}
.belita{
    position: absolute;
    left: 480px; 
    background: rgba(0, 0, 0, 0.09);
    padding: 20px;
    border-radius: 5px;
}
/* 
.nei{

    position: absolute;
    height: 84px;
    left:80px;
    position: fixed;
    top: 670px;
    gap: 20px;
    color: black;
    border-radius: 5px;
} */
/* .barra{
    margin-right: 67px;
    
}
.james{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 340px;
    
    margin-top: 50px;
    margin-right: 50px;
   
} */

.james{
   display: flex;
   margin-inline: auto;
   margin-bottom: 0px;
}

.enviar{
   display: flex;
   justify-content: center;
   align-items: center;
  
   
}
.mensagem{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* .inpute{
    height: 64px;
    border-radius: 55px ;
} */
/* .logo{
    height: 60px;
}
.inpute{
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 40px;
} */
.logo{
    display: flex;  
    margin-top: 140px; 
    position: static;
    gap: 5px;
}
.inputMensagem{
    display: flex;
    height: 59px;
    border-radius: 50px;
}
.botaoMensagem{
    width: 160px;
    border-radius: 10px;
    background-color: rgb(37, 4, 250);     
}